.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-inline: 10px;
  z-index: 20;
  height: 8vh;
  background-color: var(--primary-color);

  & > a:first-of-type {
    font-size: 20px;
  }
}
